<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>jmsPaymentPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>A payment plugin for the symfony framework based on Doctrine 1.2</summary>
  <description>jmsPaymentPlugin is designed to provide a generic persistence layer for processing payments.</description>
  <lead>
    <name>Johannes Schmitt</name>
    <user>johannes.schmitt</user>
    <email>schmittjoh@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 (similar to BSD)</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>2.0.0</max>
        <exclude>2.0.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>1.0.3</release>
      </version>
      <stability>
        <release>stable</release>
      </stability>
      <date>2010-09-16</date>
      <license uri="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 (similar to BSD)</license>
      <notes>
        * added demo module for all payments
        * added payment methods for Micropayment.de
      </notes>      
    </release>
    <release>
      <version>
        <release>1.0.2</release>
      </version>
      <stability>
        <release>stable</release>
      </stability>
      <date>2010-09-02</date>
      <license uri="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 (similar to BSD)</license>
      <notes>
        * added demo module for PayPal payments
        * some minor bug fixes
        * several enhancements, and doc fixes
      </notes>      
    </release>
    <release>
      <version>
        <release>1.0.1</release>
      </version>
      <stability>
        <release>stable</release>
      </stability>
      <date>2010-07-12</date>
      <license uri="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 (similar to BSD)</license>
      <notes>
        * fixes some issues when comparing floating point numbers
      </notes>      
    </release>
    <release>
      <version>
        <release>1.0.0</release>
        <api>1.0.0</api>
      </version>
      <stability>
        <release>stable</release>
        <api>stable</api>
      </stability>
      <date>2010-06-17</date>
      <license uri="http://www.apache.org/licenses/LICENSE-2.0.html">Similar to BSD license</license>
      <notes>
        * initial release
      </notes>
    </release> 
  </changelog>
</package>
